.msection-cr {
  background-color: #343232;
  width: 50.625rem;
}

.cr-bar{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#progress-spinner {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

#middle-circle {
  position: absolute;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background-color: #343232;
  display: flex;
  align-items: center;
  justify-content: center;
}

