@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,600&display=swap');

:root{
  --gray: #737373;
  --dark-green: #337e76;
  --water-green: #07f2db;
  --green: #79d9cf;
  --white: #f2f2f2;
  --dark-gray: #343232;
  --dark-gray-transp: #343232c2;
}

* {
  margin: unset;
  padding: unset;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-style: none;
  font-family: 'Montserrat', sans-serif;
  color: var(--white);
}

svg{
  fill: #fff;
  width: 21px;
}

body{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1e1e1e;
}

header{
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 1;
  max-height: 10vh;
}

.menu{
  background-color: var(--dark-gray);
  display: flex;
  
  padding: 0 15px;
  align-items: center;
  justify-content: space-between;
}

#h-menu{
  display: flex;
  align-items: center;
  list-style-type: none;
}

#h-menu li{
  margin: 0 15px;
  padding: 5px 10px;
  border-radius: 12px 12px 5px 12px;
}

#h-menu li:active{
  background-color: var(--gray);
  transition: ease-in .2s;
}

.h-logo{
  max-width: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
}

.h-logo img{
  height: 42px;
}

#name-logo{
  font-size: 16px;
  font-weight: 600;
  word-wrap: break-word;
}

#menu-bar{
  display: none;
}


@media screen and (max-width: 480px){
  #h-menu {
      width: 100vw;
      height: 170px;
      padding: 10px 25px 10px 0px;
      display: none;
      position: absolute;
      flex-direction: column;
      align-items: end;
      text-align: right;
      right: 0;
      top: 7.9vh;
      background: var(--dark-gray-transp);
      backdrop-filter: blur(8px);
      border-top: 1px solid var(--gray);
      border-bottom: 1px solid var(--gray);
  }

  #h-menu li{
      margin: 10px 0;
  }

  #menu-bar{
      display: block;
      width: 30px;
      padding: 5px;
      padding-top: 2px;
      cursor: pointer;
  }
}