@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,600&display=swap');

* {
  margin: unset;
  padding: unset;
  text-decoration: none;
  font-style: none;
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
}