@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,600&display=swap');

* {
  margin: unset;
  padding: unset;
  text-decoration: none;
  font-style: none;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

body{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1e1e1e;
}

header{
  width: 100%;
}

.menu {
  background-color: #343232;
  display: flex;
  min-height: 65px; 
  
  padding: 15px 30px;
  align-items: center;
  justify-content: space-between;
}

.h-menu {
  display: flex;
  list-style-type: none;
  gap: 3rem;
}