#main-box {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container{
  min-width: 350px;
  max-width: 450px;
  width: 50%;
  min-height: 380px;
  height: 80%; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-gray);
  border-radius: 10px;
}

#main-logo{
  min-width: 150px;
  width: 45%;
}

#file-box {
  width: 90%;
  height: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;   
}

#file-box span{
  margin-top: 10px;
  text-align: center;
  color: #000;
  font-weight: 600;
}

#btn-file{
  width: 50%;
  padding: 10px 5px;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid var(--green);
}

#btn-file:hover{
  scale: 1.07;
  background-color: var(--green);
  transition: ease-in-out .3s;
}

#btn-file:active{
  background-color: var(--white);
}

#btn-file img{
  width: 30px;
}

#error-file{
  font-size: 10px;
}