*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
  background: #272525;
}


#file-error{
  background-color: #343232;
  border: #272525;
  width: 657px;
  height: 752px; 
  position: relative;
  justify-content: center;
  align-items: center;
}

.logo-projeto{
  flex-direction: row;
  display:block;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 10px;
}

.file {
  background-color: #D3D3D3;
  display: block;
  
  font-size: 20px;
  padding: 20px;
}

.cr-bar{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#progress-spinner {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

#middle-circle {
  position: absolute;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}