*{
  font-size: 10px;
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cr-bar{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#progress-spinner {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

#middle-circle {
  position: absolute;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}